.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 52px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    max-width: 928px;
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 720px;
    grid-gap: 16px;
  }
}

@media screen and (max-width: 375px)  {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid  {
    grid-template-columns: minmax(100px, 1fr);
  }
}
