.cover {
  width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  position: relative;
  font-family: 'Inter', 'Arial', sans-serif;
}


@media screen and (max-width: 1280px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 375px)  {
  .cover {
    min-height: 200px;
  }
}
